# node
node_modules

# geodatabase
.gdb

# zipped files
.zip 

# shapefile
# data_processing
data_processing
.shp 
.prj
.dbf
.shx
.cpg

# point
point

# pandas
.ipynb_checkpoints
__pycache__
.env (using venv)
